*{
    -fx-font-family: SansSerif;
    -fx-font-size: 16;
}

#section_btn{
    -fx-cursor: hand;
    -fx-min-width: 300;
    -fx-background-color: rgba(255, 150, 4, 0.2);
}

#section_btn:hover{
    -fx-font-weight: bold;
    -fx-background-color: rgba(174, 238, 133, 0.3);
}

#section_btn:pressed{
    -fx-background-color: rgba(133, 189, 238, 0.3);
}

TextField{
    -fx-max-width: 300;
}

ComboBox{
    -fx-min-width: 300;
}

#title{
    -fx-text-fill: #0b58ae;
    -fx-font-size: 28;
    -fx-font-weight: bold;
}